{
    "machine": {
        "gpu": 1,
        "cpu": 1000,
        "ram": 8000
    },
    "job": {
        "APIVersion": "V1beta1",
        "Metadata": {
            "CreatedAt": "0001-01-01T00:00:00Z",
            "Requester": {}
        },
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {
                "Entrypoint": null,
                "EnvironmentVariables": [
                    {{ if .Prompt }}"{{ subst "PROMPT=%s" .Prompt }}"{{ end }}
                ],
                "Image": "public.ecr.aws/lilypad-network/ollama:llama3-8b-lilypad4@sha256:52c379413c51e54d85e00d8f29f72fe8aaa4e182b64efa4b702edf5ff1b83cde"                
            },
            "Engine": "Docker",
            "Network": {
                "Type": "None"
            },
            "Outputs": [
                {
                "Name": "outputs",
                "Path": "/outputs"
                }
            ],
            "PublisherSpec": {
                "Type": "ipfs"
            },
            "Resources": {
                "GPU": "1"
            },
            "Timeout": 1800,
            "Wasm": {
                "EntryModule": {}
            }
        }
    }
}
