{
    "machine": {
        "gpu": 1,
        "cpu": 1000,
        "ram": 8000
    },
    "job": {
        "APIVersion": "V1beta1",
        "Metadata": {
            "CreatedAt": "0001-01-01T00:00:00Z",
            "Requester": {}
        },
        "Spec": {
            "Deal": {
                "Concurrency": 1
            },
            "Docker": {
                "Image": "public.ecr.aws/k8m6l9n3/ollama:llama3-8b-lilypad1@sha256:38231c1a4e14ed740ae7a87598b1bb92e74a4a447ed597f34bda049010b0137e"
            },
            "EngineSpec": {
                "Params": {
                "Entrypoint": null,
                "EnvironmentVariables": [
                    {{ if .Prompt }}"{{ subst "PROMPT=%s" .Prompt }}",{{ end }}
                ],
                "Parameters": [
                ],
                "WorkingDirectory": ""
                },
                "Type": "docker"
            },
            "Network": {
                "Type": "None"
            },
            "Outputs": [
                {
                "Name": "outputs",
                "Path": "/outputs"
                }
            ],
            "PublisherSpec": {
                "Type": "ipfs"
            },
            "Resources": {
                "GPU": "1"
            },
            "Timeout": 1800,
            "Wasm": {
                "EntryModule": {}
            }
        }
    }
}
